<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
 <connectionStrings>
    <clear/>
    <add name="Azure" connectionString="Server=tcp:serveetd.database.windows.net,1433;Initial Catalog=etddatabase;Persist Security Info=False;User ID=tothgarsa;Password=504C3dbb9090;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=10;"/>
     </connectionStrings>

</configuration>
